<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/code.css" type="text/css" media="screen, projection" />
    <meta name="author" content="Samuel Tonini" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <div id="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div id="logo">
        <img src="/images/logo.png" alt="a craftsman's adventure" />
      </div>
    </header>
    <div id="content">
      {{ content }}
    </div>
    <hr>
    <div id="footer">
      <p>Copyright &copy; craftsman.​ch All rights reserved.</p>
    </div>
  </body>
</html>
